:root {
  padding: 30px 100px;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  height: 91vh;
  font-family: 'Poppins', sans-serif;
  
}




* {
  margin: 0;
  padding: 0;
}

@media (max-width: 575.98px) {

  /* Your styles for extra small devices here */
  :root {
      padding: 20px 20px;
      
  
    }

    /* position: relative; */
  }