.picDiv {
  display: flex;
  width: 50%;
  height: 100%;
  /* background-color: aqua; */
  overflow: hidden;
  padding-left: 40px;
  margin-bottom: 40px;
}

.myPic {
  width: 100%;
  object-fit: contain;
  animation: fadeIn 1s ease-in 0.5s normal forwards;
  opacity: 0%;
}

.textDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 14px 90px 14px 6px;
  width: 50%;
  /* background-color: black; */
  height: 100%;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: 300;
  gap: 10px !important;
  margin-bottom: 40px;

  
}

.longText {
  text-align: right;
  width: 50%;
animation: moveUp 1s ease-in 2s normal forwards;
opacity: 0;
}

.shortText {
  color: #c94122;
  width: 30%;
animation: fadeIn 1s ease-in 3s normal forwards;
opacity: 0;
}

.title {
  display: flex;
  position: absolute;
  top: 15%;
  left: 35%;
  font-size: 3.5rem;
  gap: 50px !important;
  animation: fadeInMove 1s ease-in 1.5s normal forwards;
  opacity: 0;
}

.title h2 {
  font-weight: 600;
}

.title img {
  width: 15%;
  animation: rotation 3s linear 1.5s infinite normal forwards;
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveUp {
    0% {
            opacity: 0;
            transform: translateY(250px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        
    }

    100% {
        opacity: 1;
        
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}